<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev4free.devbuy.devbuyWeb.mapper.ShoppingcartRecordMapper">
  <resultMap id="BaseResultMap" type="com.dev4free.devbuy.devbuyWeb.po.ShoppingcartRecord">
    <id column="cart_id" jdbcType="VARCHAR" property="cartId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="items_id" jdbcType="VARCHAR" property="itemsId" />
    <result column="items_num" jdbcType="VARCHAR" property="itemsNum" />
  </resultMap>
  <sql id="Base_Column_List">
    cart_id, user_id, items_id, items_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shoppingcart_record
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shoppingcart_record
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dev4free.devbuy.devbuyWeb.po.ShoppingcartRecord">
    insert into shoppingcart_record (cart_id, user_id, items_id, 
      items_num)
    values (#{cartId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{itemsId,jdbcType=VARCHAR}, 
      #{itemsNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dev4free.devbuy.devbuyWeb.po.ShoppingcartRecord">
    insert into shoppingcart_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="itemsId != null">
        items_id,
      </if>
      <if test="itemsNum != null">
        items_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        #{cartId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemsId != null">
        #{itemsId,jdbcType=VARCHAR},
      </if>
      <if test="itemsNum != null">
        #{itemsNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dev4free.devbuy.devbuyWeb.po.ShoppingcartRecord">
    update shoppingcart_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemsId != null">
        items_id = #{itemsId,jdbcType=VARCHAR},
      </if>
      <if test="itemsNum != null">
        items_num = #{itemsNum,jdbcType=VARCHAR},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dev4free.devbuy.devbuyWeb.po.ShoppingcartRecord">
    update shoppingcart_record
    set user_id = #{userId,jdbcType=VARCHAR},
      items_id = #{itemsId,jdbcType=VARCHAR},
      items_num = #{itemsNum,jdbcType=VARCHAR}
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  
    <resultMap id="BaseResultMapCustom" type="com.dev4free.devbuy.devbuyWeb.poCustom.ShoppingcartRecordCustom">
    <id column="cart_id" jdbcType="VARCHAR" property="cartId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="items_id" jdbcType="VARCHAR" property="itemsId" />
    <result column="items_num" jdbcType="VARCHAR" property="itemsNum" />
  </resultMap>
  
  
  
    
    <resultMap id="BaseResultMapCustomWithAssociation" type="com.dev4free.devbuy.devbuyWeb.poCustom.ShoppingcartRecordCustom"  extends="BaseResultMapCustom">
    <association  property="userCustom" javaType="com.dev4free.devbuy.devbuyWeb.poCustom.UserCustom">
        <id column="user_id" jdbcType="CHAR" property="userId" />
	    <result column="username" jdbcType="VARCHAR" property="username" />
	    <result column="password" jdbcType="VARCHAR" property="password" />
	    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
	    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
	    <result column="regtime" jdbcType="CHAR" property="regtime" />
	    <result column="gender" jdbcType="VARCHAR" property="gender" />
    </association>
    <association  property="itemsCustom" javaType="com.dev4free.devbuy.devbuyWeb.poCustom.ItemsCustom">
	        <result column="itemsname" jdbcType="VARCHAR" property="itemsname" />
		    <result column="description" jdbcType="VARCHAR" property="description" />
		    <result column="category" jdbcType="VARCHAR" property="category" />
		    <result column="items_lb" jdbcType="VARCHAR" property="itemsLb" />
		    <result column="price" jdbcType="VARCHAR" property="price" />
		    <result column="current_price" jdbcType="VARCHAR" property="currentPrice" />
		    <result column="image" jdbcType="VARCHAR" property="image" />
		    <result column="inventory" jdbcType="VARCHAR" property="inventory" />
		    <result column="sales_volume" jdbcType="VARCHAR" property="salesVolume" />
		    <result column="area" jdbcType="VARCHAR" property="area" />
		    <result column="express_fee" jdbcType="VARCHAR" property="expressFee" />
		    <result column="cf_name" jdbcType="VARCHAR" property="cfName" />
    </association>
  </resultMap>
  
  
  
  <select  id="queryAllShoppingcartRecord" resultMap="BaseResultMapCustomWithAssociation">
  
SELECT shoppingcart_record.*,`user`.*,items.* 
FROM shoppingcart_record,`user`,items 
WHERE shoppingcart_record.user_id = `user`.user_id 
AND shoppingcart_record.items_id = items.items_id
  </select>
  
  
  
  
  <select id="selectShoppingcartRecordCustomByPrimaryKey"  resultMap="BaseResultMapCustomWithAssociation"  >
  
SELECT shoppingcart_record.*,`user`.*,items.*,classification.* 
FROM shoppingcart_record,`user`,items,classification 
WHERE shoppingcart_record.user_id = `user`.user_id 
AND shoppingcart_record.items_id = items.items_id 
AND items.category = classification.category
AND	shoppingcart_record.cart_id = #{cartId}
  
  
  </select>
  
  
  
  
  
  
    
      
  
  <delete id="deleteShoppingcartRecordByIds" parameterType="Object[]" >
  delete from shoppingcart_record 
  <where>
  <if  test="array != null and array.length > 0">
	<foreach collection="array" item="item" open="and cart_id in (" close=")" separator=",">
			#{item}
	</foreach>
  </if>
  </where>
  </delete>
  
  
  
  
  
  
</mapper>