<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev4free.devbuy.devbuyWeb.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.dev4free.devbuy.devbuyWeb.po.User">
    <id column="user_id" jdbcType="CHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="regtime" jdbcType="CHAR" property="regtime" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, avatar, nickname, regtime, gender
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.dev4free.devbuy.devbuyWeb.po.User">
    insert into user (user_id, username, password, 
      avatar, nickname, regtime, 
      gender)
    values (#{userId,jdbcType=CHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{regtime,jdbcType=CHAR}, 
      #{gender,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dev4free.devbuy.devbuyWeb.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="regtime != null">
        regtime,
      </if>
      <if test="gender != null">
        gender,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dev4free.devbuy.devbuyWeb.po.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        regtime = #{regtime,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dev4free.devbuy.devbuyWeb.po.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      regtime = #{regtime,jdbcType=CHAR},
      gender = #{gender,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  
  
  
  
  
  
    <resultMap id="BaseResultMapCustom" type="com.dev4free.devbuy.devbuyWeb.poCustom.UserCustom">
    <id column="user_id" jdbcType="CHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="regtime" jdbcType="CHAR" property="regtime" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="balance" jdbcType="VARCHAR" property="balance" />
  </resultMap>
  
  
  
  <select  id="queryAllUsers"   resultMap="BaseResultMapCustom"  >
  
  SELECT `user`.*,wallet.* FROM `user`, wallet WHERE `user`.user_id = wallet.user_id
  	
  </select>
  
  
        
  
  <delete id="deleteUserByIds" parameterType="Object[]" >
  delete from user 
  <where>
  <if  test="array != null and array.length > 0">
	<foreach collection="array" item="item" open="and user_id in (" close=")" separator=",">
			#{item}
	</foreach>
  </if>
  </where>
  </delete>
  
    
  
  <select  id="queryUsersByPrimarykey"   resultMap="BaseResultMapCustom"  >
  
  SELECT `user`.*,wallet.* FROM `user`, wallet WHERE `user`.user_id = wallet.user_id 
  AND `user`.user_id = #{userId}
	  	
  </select>
  
  
  
  
</mapper>