#publishNavigatorHeader{
	float: left;
	width: 1000px;
	height: 60px;
	background-color: #178EE0;
}


#publishNavigatorHeader p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFFFFF;
	margin-left: 16px;
	margin-top: 16px;
}

#pusblishNavigator table p {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #464646;
}


#pusblishNavigator input[type = "text"]{
	width: 305px;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #464646;
}

#pusblishNavigator textarea{
	
	width: 305px;
	height: 164px;
}

#selectContent_1_4_2{
	width: 305px;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #464646;
}


#pusblishNavigator img{
	
	width: 160px;
	height: 131px;
		margin-left: 440px;
		margin-top: 16px;
}

#pusblishNavigator input[type = "submit"]{
	
	width: 152px;
	height: 30px;
	background-color: #178EE0;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFFFFF;
	border: none;
	margin-left: 440px;
	margin-bottom: 16px;
	margin-top: 16px;
}
